$primary-color: rgb(217, 127, 235);
$hover-color: rgb(113, 16, 209);
$header-hover-color: rgb(226, 139, 232);
$black: #000000;
$gray: #333;
$border-gray: #ccc;
$font-primary: Calibri;
$font-theme-item: 'Trebuchet MS';

@font-face {
    font-family: 'ShareTechMono';
    src: url('../fonts/ShareTechMonoRegular-0.0.otf') format('opentype');
}

@font-face {
    font-family: 'BlackOpsOne';
    src: url('../fonts/BlackOpsOne-Regular_RUS_by_alince.otf') format('opentype');
}

body {
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    min-height: 90px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 0;
    padding-bottom: 10px;
    transition: border-color 0.3s ease;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $primary-color;
        transition: all 0.3s ease;
        pointer-events: none;
    }

    &:hover::after {
        height: 3px;
        background-color: $header-hover-color;
    }

    h1 {
        font-size: 45px;
        color: $black;
        position: absolute;
        left: 150px;
        top: -10px;
        margin-bottom: -50px;
        font-family: 'ShareTechMono', monospace;

        a {
            color: $black;
            text-decoration: none;
        }
    }

    img {
        position: absolute;
        left: 45px;
        margin-top: -24px;
        height: auto;
        width: 100px;
        float: left;
    }
}

.content {
    margin-left: 200px;
    padding: 20px;
    margin-top: -100px;
    font-family: $font-primary;

    img {
        border: 1px $primary-color solid;
    }

    p {
        font-size: 20px;
        margin-bottom: 20px;
        border-radius: 8px;
        border: 1px $primary-color solid;
        padding: 14px 14px 14px 28px;
        margin-left: -5px;
    }
}

.part1,
.part2 {
    font-size: 19px;
    color: $black;
    font-family: 'BlackOpsOne';
    margin-left: 420px;

    span {
        margin-right: 5px;
    }

    a {
        color: $black;
        text-decoration: none;

        &:hover {
            color: $hover-color;
        }
    }
}

.part1 {
    margin-top: 10px;
}

.part2 {
    margin-top: 0;
}

.theme-container {
    position: fixed;
    top: 180px;
    left: 0;
    width: 190px;
    height: 220px;
    border: 1px $primary-color solid;
    padding-left: 10px;
    overflow-y: auto;
    border-radius: 4px;
    justify-self: center;
    background-color: white;

    h2 {
        text-align: center;
    }
}

.theme-item {
    display: block;
    padding: 6px;
    color: $gray;
    text-decoration: none;
    margin-left: -10px;
    margin-bottom: 5px;
    font-size: 17px;
    font-family: $font-theme-item;

    &:hover {
        border-radius: 3px;
        width: 170px;
        margin-left: 2px;
    }
}

.theme-section {
    margin-bottom: 25px;
    border-bottom: 1px solid $border-gray;

    &:first-child {
        margin-top: 100px;
    }

    h1 {
        font-size: 32px;
        margin-top: -5px;
        text-align: center;
    }

    ul {
        border-radius: 8px;
        border: 1px $primary-color solid;
        padding: 14px 14px 14px 28px;
        margin-left: -5px;
    }
}

.text-with-image {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin: 20px 0;
}

.side-img {
    width: 200px;
    height: auto;
    float: right;

    img {
        width: 160px;
        height: auto;
        border-radius: 5px;
    }

    figcaption {
        font-size: 16px;
        font-family: $font-primary;
        text-align: center;
    }
}

.image-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 20px 0;
}

.row-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;

    img {
        width: 100%;
        height: auto;
        border-radius: 5px;
        border: 1px solid $primary-color;
    }

    figcaption {
        font-size: 16px;
        font-family: $font-primary;
        text-align: center;
        margin-top: 5px;
    }
}

li {
    font-size: 19px;
}

a {
    color: $black;
    text-decoration: none;

    &:hover {
        color: $hover-color;
    }
}

@media (max-width: 900px) {
    header {
        padding-left: 20px;
        flex-direction: row;
        align-items: center;
        min-height: auto;
        padding-bottom: 20px;

        h1 {
            position: static;
            margin: 0;
            margin-left: 120px;
            font-size: 30px;
        }

        img {
            position: static;
            margin-top: 0;
            width: 60px;
        }

        &::after {
            left: 20px;
            width: calc(100% - 40px);
            margin: 0;
        }
    }

    .part1,
    .part2 {
        position: static;
        margin-left: 0;
        margin-top: 5px;
    }

    .content {
        margin-left: 20px;
    }

    .theme-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 140px;
        margin: 0;
        padding: 0px 0 20px;
        border: none;
        border-radius: 0;

        border-bottom: 2px solid $primary-color;
        z-index: 1;
        transform: translateY(-100%);
        transition: transform 0.3s ease;

        &.menu__box {
            list-style: none;
        }

        h2 {
            color: $gray;
            font-family: 'Roboto', sans-serif;
            font-size: 24px;
            margin-bottom: 5px;
        }

        .theme-list {
            width: 100%;
            text-align: center;

        }
    }

    .theme-item {
        color: $gray;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        border-bottom: 0.5px solid black;
        height: 20px;
        width: 100%;
        padding: 10px 0;
        margin: 0;

        &:hover {

            width: 100%;
            margin: 0;
            border-radius: 0;
        }
    }

    .text-with-image {
        flex-direction: column;
        align-items: center;
    }

    .side-img {
        float: none;
        width: 100%;
        max-width: 250px;
        margin: 0 auto;
    }

    .image-row {
        flex-direction: column;
        align-items: center;
    }

    .row-img {
        width: 100%;
        max-width: 200px;
    }

    .menu__btn {
        display: inline-flex;
        align-items: center;
        position: fixed;
        top: 12px;
        left: 20px;
        width: 30px;
        height: 40px;
        cursor: pointer;
        z-index: 2;
    }

    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: $black;
        transition: all 0.3s ease;
    }

    .menu__btn>span::before {
        content: '';
        top: -8px;
    }

    .menu__btn>span::after {
        content: '';
        top: 8px;
    }

    #menu__toggle:checked~.menu__btn>span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked~.menu__btn>span::before {
        top: 0;
        transform: rotate(0);
    }

    #menu__toggle:checked~.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked~.theme-container {
        transform: translateY(0);
    }
}